/app/__pycache__/
.pytest_cache
myprojectenv
.cache/
app/.vscode/
/myprojectenv/
app/__init__.pyc
../../.vscode/
.vscode/
app/models.pyc
app/views.pyc
tests/test_views.pyc
tests/__init__.pyc
tests/__pycache__
__pycache__
run.pyc
