.Admin{
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    padding: 10;
}
.add_an_item{
    width: 320px;
    height:420px;
    position: absolute;
    box-sizing: border-box;
    padding: 70px 30px;
    left: 40%;
    border: 1px solid black;
    color:#000;
    background:paleturquoise;
}